.App {
  text-align: center;
}

.Text {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  background-color: gray;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-file-button {
  padding: 6px 25px;
  background-color: #575050;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.input-file-button:hover {
  padding: 6px 25px;
  background-color: #363434;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
